.animate, .animate img {
    position: fixed;
    width: calc(525px - 1px);
    height: calc(50%);
    bottom: 145px;
    left: calc(47% - 14rem - 6px);
    display: block;
}
/* Urusan JS, tidak bisa diganggu gugat */
.subuh, .dhuha, .duhur, .ashar, .maghrib, .isya {
    opacity: 0;
}