/* Bagian kepala */
@import "./header.css";
/* Running Text */
@import "./running-text.css";
/* Jam digital */
@import "./jam-digital.css";
/* Modal */
@import "./modal.css";
/* Tirai */
@import "./tirai.css";
/* Gambar masjid */
@import "./gambar-masjid.css";
/* Footer */
@import "./footer.css";
/* Background */
@import "./background.css";

/* START MAIN COMPONENT */

/* Inisialisasi font */
@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../font/BebasNeue-Regular.ttf');
}
@font-face {
	font-family: 'PT Sans Regular';
	src: url('../font/PT_Sans-Web-Regular.ttf');
}

/* Bagian belakang */
html {
	color: rgba(0, 0, 0, 0.87);
}
body {
	margin: 0;
	font-family: sans-serif;
	background-color: #EEE;
}

/* Layering Time */
.header {
	z-index: 1;
}
.background	{
	z-index: -1;
}
.running-text {
	z-index: -1;
}
.fulltime {
	z-index: 2;
}
.animate {
	z-index: 2;
}
.footer {
	z-index: 3;
}
.modal-bg {
	z-index: 4;
}
.modal-switch {
	z-index: 4;
}
.penampung-tirai {
	z-index: 5;
}
.final-countdown {
	z-index: 6;
}
.final-cwd {
	z-index: 7;
}