.penampung-tirai {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: auto;
	display: none;
	opacity: 0;
}
.tirai-kiri, .tirai-kanan {
	width: 51%;
	top: 0%;
	height: inherit;
	position: absolute;
	background-color: black;
	overflow: hidden;
}
.tirai-kiri{
	left: -50%;
}
.tirai-kanan {
	right: -50%;
}
.final-countdown {
	position: fixed;
    top: 8%;
    left: calc(34% - 18rem - 17px);
    opacity: 0;
    font-family: 'Bebas Neue Regular';
    font-size: 555px;
}
.final-countdown div {
	color: white;
	float: left;
	text-align: center;
}
.countdown-minute, .countdown-second {
	width: 455px;
}
.final-cwd {
    text-align: center;
    color: white;
    position: fixed;
    font-family: 'Bebas Neue Regular';
    font-size: 264px;
    top: 10%;
	left: calc(33% - 13rem - 19px);
	opacity: 0;
}